---
layout: list
---
<div class="row" > 
  <div class="col-md-6">
  {% for post in site.posts %}
    {% capture pattern %}{% cycle 'left', 'right' %}{% endcapture %}
    {% if pattern == 'left' %}
        {% include post_thumb.html %} 
    {% endif%}  
  {% endfor %}
  </div>
  <div class="col-md-6" > 
  {% for post in site.posts %}
    {% capture pattern %}{% cycle 'left', 'right' %}{% endcapture %}
    {% if pattern == 'left' %}
        {% include post_thumb.html %} 
    {% endif %}  
  {% endfor %}
  </div>
</div>