---
layout: split
---
<div class="content">
  <h2>Projects</h2>
  <ul class="posts-list">
    {% for post in site.categories.projects %}
      <li>
        <h3>
          <a href="{{ post.link }}" class="post-title">
            <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
          </a>
        </h3>
        <p>{{ post.excerpt | strip_html | truncatewords:10 }}</p>
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h2>Blog Posts</h2>
  <ul class="posts-list">
    {% for post in site.categories.blogs %}
      <li>
        <h3>
          <a href="{{ post.link }}" class="post-title">
            <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
          </a>
          <span class="date">{{ post.date | date: '%d %b %Y' }}</span>
        </h3>
        <p>{{ post.excerpt | strip_html | truncatewords:10 }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
