ul.contact {
  margin: 0px
}
.contact li {
  list-style-type: none;
  padding:0px; margin:7px;
}
.contact li, .socialicon {
 width:40px; height:40px;
 display: inline-block
}
.contact .socialicon {
background-color: red;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachement: scroll
  background-color: black;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  font-color:black
}
.contact .linkedin {
    
  background-image: url("img/linkedin.png");
}
.contact .github {
  background-image: url("/assets/socialicons/img/github.png");
}
.contact .twitter {
  background-image: url("/assets/socialicons/img/twitter.png");
}
.contact .flicker {
  background-image: url("/assets/socialicons/img/flicker.png");
}
.contact .skype {
  background-image: url("/assets/socialicons/img/skype.png");
}
.contact .facebook {
  background-image: url("/assets/socialicons/img/facebook.png");
}
.contact .googleplus {
  background-image: url("/assets/socialicons/img/googleplus.png");
}
.contact .youtube {
  background-image: url("/assets/socialicons/img/youtube.png");
}
.contact .skype {
  background-image: url("/assets/socialicons/img/skype.png");
}
.contact .flickr {
  background-image: url("/assets/socialicons/img/flickr.png");
}
.contact .youtube {
  background-image: url("/assets/socialicons/img/youtube.png");
}
.contact .youtube {
  background-image: url("/assets/socialicons/img/youtube.png");
}

